/*.rounded-lg{*/
/*    border-radius: 50px;*/
/*}*/
.search-custom{
      border-radius: 20px;
      background: #dcdcdc;
    width: 200px;
    position: relative;


}
.search-custom2{
    position: relative;
}
#products_grid_before{
    margin-top:50px;
    border-radius: 5px 5px 5px 5px;
    background-color: #dbdbdb;
    /*position: relative;*/
    width: 50px;



}
.products_header{
    border-bottom:  1px gray solid;
    /*width: 1000px;*/

}

.o_wsale_layout_list {
    .add-quote {
        margin-left:200px;
        position: fixed;
        font-size:1px

    }

}
.notification-dot {
  height: 10px;
  width: 10px;
  background-color: #97c0fe;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  position: relative;
  top: -8px;
}