.wk_message_thread {
    display: None;
    .o_portal_chatter{
        display: none;
    }
    .o_portal_chatter_header {
        display: none;
    }
    .o_portal_chatter_composer {
        display: none;
    }
    .o_portal_chatter_messages {
        display: none;
    }
}


#seller_info{
    padding: 10px;
    background-color: #F8F9FA;
  
}

.seller-image-container {
    height: 80px;
    width: 80px;
    border-radius: 50%;

}


.seller-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}
